# pnpm 配置
# 注意：以下配置仅对 pnpm 有效，npm 会忽略或警告
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
strict-peer-dependencies=false
auto-install-peers=true
